.cf:before, .header:before, .achievements__box:before, .services:before, .clients:before,
.cf:after,
.header:after,
.achievements__box:after,
.services:after,
.clients:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after, .header:after, .achievements__box:after, .services:after, .clients:after {
  clear: both; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 2em;
  font-weight: 600; }

h2 {
  font-size: 1.5em;
  font-weight: 600; }

h3 {
  font-size: 1.17em;
  font-weight: 600; }

h4 {
  font-weight: 600; }

h6 {
  font-weight: 600; }

p {
  line-height: 25px; }

.container {
  padding: 0 90px; }
  @media (max-width: 1024px) {
    .container {
      padding: 0; } }

.bg-gray {
  background-color: #e9e9e9; }

.bg-gray-lighter {
  background-color: #f8f9f9; }

.bg-mint {
  background-color: #10c9c3; }

.text-mutted {
  color: #787878; }

.navigation {
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 10; }
  .navigation__border {
    border-bottom: solid 2px black; }
    @media (max-width: 990px) {
      .navigation__border {
        border: none; } }
  @media (max-width: 990px) {
    .navigation {
      background: #f8f9f9;
      padding: 10px 0; } }
  .navigation__logo {
    float: left;
    padding-top: 10px; }
    @media (max-width: 990px) {
      .navigation__logo {
        padding-top: 0;
        margin-left: 16px; } }
  .navigation__list {
    float: right; }
    @media (max-width: 990px) {
      .navigation__list {
        display: none; } }
    .navigation__list li {
      display: inline;
      padding: 0 10px;
      font-weight: 600;
      color: white; }
      .navigation__list li:last-child {
        padding-right: 0; }
    .navigation__list a {
      text-decoration: none;
      color: black; }
      .navigation__list a:hover {
        color: #10c9c3; }
  .navigation__buttonToggle {
    height: 31px;
    width: 33px;
    float: right;
    display: none;
    cursor: pointer;
    overflow: hidden; }
    @media (max-width: 990px) {
      .navigation__buttonToggle {
        display: block;
        margin-right: 16px; } }
  .navigation__burger {
    width: 80%;
    height: 2px;
    background: #787878;
    display: block;
    margin: 5px auto;
    transition: 1s all; }
    .navigation__burger.active:nth-child(1) {
      transform: translate(0px, 7px) rotate(40deg);
      transition: 0.7s all; }
    .navigation__burger.active:nth-child(2) {
      transform: translate(-30px, 0px);
      opacity: 0;
      transition: 0.7s all; }
    .navigation__burger.active:nth-child(3) {
      transform: translate(0px, -7px) rotate(-40deg);
      transition: 0.7s all; }
  .navigation__toggle {
    background: #f8f9f9;
    text-align: center;
    height: 10px;
    overflow: hidden;
    display: none;
    transition: 1s all; }
    .navigation__toggle ul {
      margin-top: 38px;
      padding-left: 0; }
    .navigation__toggle li {
      list-style: none;
      padding: 8px; }
    .navigation__toggle a {
      text-decoration: none;
      color: #787878; }
      .navigation__toggle a:hover {
        color: #10c9c3; }
    @media (max-width: 990px) {
      .navigation__toggle {
        display: block; } }
  .navigation__open {
    height: 286px;
    transition: 1s all; }

.header {
  font-family: 'Montserrat', sans-serif;
  padding-top: 100px;
  padding-bottom: 105px; }
  @media (max-width: 770px) {
    .header {
      padding-bottom: 0; } }
  @media (max-width: 550px) {
    .header {
      padding: 0;
      padding-top: 25px; } }
  .header__box {
    width: 40%;
    float: right; }
    .header__box:nth-child(2) {
      width: 55%;
      float: left; }
      @media (max-width: 770px) {
        .header__box:nth-child(2) {
          width: 100%;
          float: none;
          text-align: center;
          margin-top: 20px; } }
    @media (max-width: 770px) {
      .header__box {
        width: 100%;
        float: none;
        text-align: center; } }
  @media (max-width: 539px) {
    .header__caption {
      padding: 0 10px; } }
  .header__img {
    width: 100%; }
  .header__button button {
    border: none;
    padding: 15px 35px;
    margin-top: 10px;
    color: white;
    cursor: pointer; }

.about-us {
  text-align: center;
  margin: auto;
  background-color: white;
  padding: 100px 300px; }
  @media (max-width: 1024px) {
    .about-us {
      padding: 0; } }
  .about-us__text {
    padding: 0px 113px; }
    @media (max-width: 539px) {
      .about-us__text {
        padding: 0 10px; } }
    .about-us__text p {
      padding: 40px 0; }

.personal-skills__left {
  width: 50%;
  float: left;
  padding: 90px 90px; }
  @media (max-width: 1024px) {
    .personal-skills__left {
      width: 100%;
      float: none; } }
  @media (max-width: 370px) {
    .personal-skills__left {
      padding: 50px 25px; } }
.personal-skills__box {
  padding: 22px 0; }
  .personal-skills__box:nth-child(1) .personal-skills__line-left {
    width: 75%; }
  .personal-skills__box:nth-child(1) .personal-skills__line-right {
    width: 25%; }
  .personal-skills__box:nth-child(2) .personal-skills__line-left {
    width: 90%; }
  .personal-skills__box:nth-child(2) .personal-skills__line-right {
    width: 10%; }
  .personal-skills__box:nth-child(3) .personal-skills__line-left {
    width: 65%; }
  .personal-skills__box:nth-child(3) .personal-skills__line-right {
    width: 35%; }
.personal-skills__line {
  width: 100%;
  height: 5px; }
.personal-skills__line-left {
  height: 5px;
  width: 50%;
  float: left;
  background-color: #10c9c3; }
.personal-skills__line-right {
  height: 5px;
  width: 50%;
  float: right;
  background: #e9e9e9; }
.personal-skills__right {
  width: 50%;
  float: left; }

.achievements {
  padding-bottom: 45px;
  padding-top: 45px;
  margin: auto; }
  @media (max-width: 1024px) {
    .achievements {
      padding: 30px;
      padding-left: 120px; } }
  @media (max-width: 750px) {
    .achievements {
      padding-left: 66px; } }
  @media (max-width: 540px) {
    .achievements {
      padding-left: 26px;
      margin-top: 20px;
      margin-bottom: 20px; } }
  @media (max-width: 440px) {
    .achievements {
      padding: 0; } }
  .achievements__box {
    color: white;
    float: left;
    width: 25%; }
    @media (max-width: 1024px) {
      .achievements__box {
        width: 50%;
        margin-top: 10px;
        margin-bottom: 10px; } }
    @media (max-width: 520px) {
      .achievements__box {
        width: 70%;
        margin: 5% 15%; } }
  .achievements__icon {
    width: 18%;
    float: left; }
  .achievements__text {
    font-family: 'Montserrat', sans-serif;
    float: left;
    width: 75%;
    margin-left: 7%; }
  .achievements h4 {
    margin: 0;
    margin-bottom: 3px; }
  .achievements p {
    margin: 0;
    font-size: 13px; }
  @media (max-width: 1024px) {
    .achievements .container {
      width: 100%; } }

.gallery__box {
  position: relative;
  width: 25%;
  height: 294px;
  float: left;
  background-color: lightgray;
  overflow: hidden; }
  @media (max-width: 1024px) {
    .gallery__box {
      height: 200px; } }
  @media (max-width: 740px) {
    .gallery__box {
      width: 50%; } }
  @media (max-width: 540px) {
    .gallery__box {
      width: 96%;
      margin: 5px 10px; } }
  .gallery__box:hover .gallery__hover {
    opacity: 1;
    transition: 1s;
    cursor: pointer; }
.gallery__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  max-width: none; }
.gallery__row {
  display: none; }
.gallery__hover {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s; }
.gallery svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
.gallery__loadmore {
  text-align: center;
  padding: 40px;
  height: 100px;
  cursor: pointer; }
  .gallery__loadmore:hover {
    background: #10c9c3; }
  .gallery__loadmore h4 {
    margin: 0; }

.our-work-process {
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
  text-align: center;
  padding-top: 100px; }
  @media (max-width: 540px) {
    .our-work-process {
      padding: 0; } }
  .our-work-process__text {
    margin: 40px; }
  .our-work-process__video {
    position: relative;
    width: 96%;
    height: 500px;
    margin: auto; }
    .our-work-process__video iframe {
      border: none; }
    @media (max-width: 540px) {
      .our-work-process__video {
        margin: 10px;
        height: 250px; } }
  .our-work-process__icon {
    height: 86px;
    width: 89px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .our-work-process__icon svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.services {
  padding-top: 100px;
  padding-bottom: 100px; }
  .services__box {
    text-align: center;
    padding: 0 20px;
    width: 25%;
    float: left; }
    .services__box:nth-child(5) h4 {
      margin-bottom: 11px;
      margin-top: 19px; }
    .services__box:nth-child(5) p {
      margin-top: 11px;
      margin-bottom: 0px; }
    @media (max-width: 1224px) {
      .services__box:nth-child(5) {
        padding: 0 10px; } }
    @media (max-width: 1024px) {
      .services__box {
        padding: 0px;
        width: 50%;
        float: left; } }
    @media (max-width: 540px) {
      .services__box {
        width: 100%;
        padding: 0 58px; } }

.feedbacks {
  padding: 180px 270px;
  text-align: center;
  color: white; }
  @media (max-width: 1024px) {
    .feedbacks {
      padding: 100px 10px; } }
  @media (max-width: 325px) {
    .feedbacks {
      padding: 50px 10px; } }

.clients {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px; }
  .clients__box {
    text-align: center;
    padding: 0 1.668%;
    width: 20%;
    float: left; }
    @media (max-width: 670px) {
      .clients__box:nth-child(3) {
        width: 100%; } }
    @media (max-width: 670px) {
      .clients__box {
        width: 50%;
        float: left; } }

.need-project {
  padding: 100px 350px;
  text-align: center;
  overflow: hidden; }
  @media (max-width: 1140px) {
    .need-project {
      padding: 0 20px; } }
  .need-project input {
    height: 48px;
    border: none;
    margin-bottom: 30px;
    padding-left: 15px; }
    .need-project input:focus {
      outline: none; }
    .need-project input:nth-child(1) {
      margin-right: 30px;
      width: 47%;
      float: left; }
      @media (max-width: 540px) {
        .need-project input:nth-child(1) {
          margin-right: 0; } }
      @media (max-width: 560px) {
        .need-project input:nth-child(1) {
          width: 100%; } }
    .need-project input:nth-child(2) {
      width: 47%;
      float: right; }
      @media (max-width: 560px) {
        .need-project input:nth-child(2) {
          width: 100%; } }
    .need-project input:nth-child(3) {
      width: 100%; }
  .need-project textarea {
    height: 170px;
    border: none;
    resize: none;
    width: 100%;
    padding: 15px; }
    .need-project textarea:focus {
      outline: none; }
  .need-project ::placeholder {
    font-family: 'Montserrat', sans-serif; }
  .need-project button {
    padding: 23px 36px;
    border: none;
    margin-top: 31px;
    color: white;
    cursor: pointer; }
    @media (max-width: 1140px) {
      .need-project button {
        margin-bottom: 20px; } }

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: black; }
  @media (max-width: 1000px) {
    .footer {
      text-align: center;
      padding-bottom: 50px;
      padding-top: 50px; } }
  @media (max-width: 375px) {
    .footer {
      font-size: 13px; } }
  .footer h3 {
    color: white; }
  .footer ul {
    width: 30%;
    float: left; }
    @media (max-width: 540px) {
      .footer ul {
        width: 27%; } }
    .footer ul li {
      list-style-type: none;
      padding: 5px; }
    .footer ul a {
      text-decoration: none;
      color: #787878; }

/*# sourceMappingURL=style.css.map */
