.gallery {
    &__box {
        position: relative;
        width: 25%;
        height: 294px;
        float: left;
        background-color: lightgray;
        overflow: hidden;
        @media (max-width: 1024px) {
            height: 200px;
        }
        
        @media (max-width: 740px) {
            width: 50%;
        }
        
        @media (max-width: 540px) {
            width: 96%;
            margin: 5px 10px;
        }
        
        &:hover {
            .gallery__hover {
                opacity: 1;
                transition: 1s;
                cursor: pointer;
            }
        }
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        max-width: none;
    }
    
    &__row {
        display: none;
    }
    
    &__hover {
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 1s;
    }
    
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__loadmore {
        text-align: center;
        padding: 40px;
        height: 100px;
        cursor: pointer;
        &:hover {
            background: #10c9c3;
        }
        
        h4 {
            margin: 0;
        }
    }
}
