.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.cf:after {
    clear: both;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 2em;
    font-weight: 600;
}
h2 {
    font-size: 1.5em;
    font-weight: 600;
}
h3 {
    font-size: 1.17em;
    font-weight: 600;
}
h4 {
    font-weight: 600;
}
h6 {
    font-weight: 600;
}
p {
    line-height: 25px;
}
.container {
    padding: 0 90px;
    @media (max-width: 1024px) {
        padding: 0;
    }
}
.bg-gray {
    background-color: #e9e9e9;
}
.bg-gray-lighter {
    background-color: #f8f9f9;
}
.bg-mint {
    background-color: #10c9c3;
}
.text-mutted {
    color: #787878;
}
