.header {
    font-family: 'Montserrat', sans-serif;
    padding-top: 100px;
    padding-bottom: 105px;
    @media (max-width: 770px) {
        padding-bottom: 0;
    }
    @media (max-width: 550px) {
        padding: 0;
        padding-top: 25px;
    }
    @extend .cf;
    &__box {
        width: 40%;
        float: right;
        &:nth-child(2) {
            width: 55%;
            float: left;
            @media (max-width: 770px) {
                width: 100%;
                float: none;
                text-align: center;
                margin-top: 20px;
            }
        }
        @media (max-width: 770px) {
            width: 100%;
            float: none;
            text-align: center;
        }
    }
    &__caption {
        @media (max-width: 539px) {
            padding: 0 10px;
        }
    }
    &__img {
        width: 100%;
    }
    &__button button {
        border: none;
        padding: 15px 35px;
        margin-top: 10px;
        color: white;
        cursor: pointer;
    }
}
