.navigation {
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
    &__border {
        border-bottom: solid 2px black;
        @media (max-width: 990px) {
            border: none;
        }
    }
    
    @media (max-width: 990px) {
        background: #f8f9f9;
        padding: 10px 0;
    }
    &__logo {
        float: left;
        padding-top: 10px;
        @media (max-width: 990px) {
            padding-top: 0;
            margin-left: 16px;
        }
    }
    
    &__list {
        float: right;
        @media (max-width: 990px) {
            display: none;
        }
        
        li {
            display: inline;
            padding: 0 10px;
            font-weight: 600;
            color: white;
            &:last-child {
                padding-right: 0;
            }
        }
        
        a {
            text-decoration: none;
            color: black;
            &:hover {
                color: #10c9c3;
            }
        }
    }
    
    &__buttonToggle {
        height: 31px;
        width: 33px;
        float: right;
        display: none;
        cursor: pointer;
        overflow: hidden;
        @media (max-width: 990px) {
            display: block;
            margin-right: 16px;
        }

    }
    
    &__burger {
        width: 80%;
        height: 2px;
        background: #787878;
        display: block;
        margin: 5px auto;
        transition: 1s all;
                
        &.active {
                &:nth-child(1) {
                    transform: translate(0px, 7px)rotate(40deg);
                    transition: 0.7s all;
                    
                }
                &:nth-child(2) { 
                    transform: translate(-30px, 0px); 
                    opacity: 0;
                    transition: 0.7s all;
                }
                &:nth-child(3) { 
                transform: translate(0px, -7px)rotate(-40deg); 
                    transition: 0.7s all;
                } 
            }
        }
    
        
    &__toggle {
        background: #f8f9f9;
        text-align: center;
        height: 10px;
        overflow: hidden;
        display: none;
        transition: 1s all;
        ul {
            margin-top: 38px;
            padding-left: 0;
        }
        
        li {
            list-style: none;
            padding: 8px;
        }
        
        a {
            text-decoration: none;
            color: #787878;
            &:hover {
                color: #10c9c3;
            }
        }
        @media (max-width: 990px) {
            display: block;
        }
    }
    
    &__open {
        height: 286px;
        transition: 1s all;
       }
}

