.services {
    @extend .cf;
    padding-top: 100px;
    padding-bottom: 100px;
    &__box {
        text-align: center;
        padding: 0 20px;
        width: 25%;
        float: left;
        &:nth-child(5) {
            h4 {
                margin-bottom: 11px;
                margin-top: 19px;
            }
            
            p {
                margin-top: 11px;
                margin-bottom: 0px;
            }
            
            @media (max-width: 1224px) {
                padding: 0 10px;
            }
        }
        @media (max-width: 1024px) {
            padding: 0px;
            width: 50%;
            float: left;
        }
        @media (max-width: 540px) {
            width: 100%;
            padding: 0 58px;
        }
    }
}
